:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F5F7FB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

.quiz_container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quiz_header {
  font-family: Karla, Inter, sans-serif;
  font-size: 31px;
  font-weight: 700;
  letter-spacing: 0em;
  color: #293264;
  /* border: 1px solid black; */
}

.quiz_subheader {
  font-family: Inter;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0em;
  color: #293264;
  margin-top: 0px;
  /* border: 1px solid black; */
}

.quiz_button {
  margin-top: 1.25em;
  height: 52px;
  width: 193px;
  left: 179px;
  top: 314px;
  border-radius: 15px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  color: #F5F7FB;
  background-color: #4D5B9E;
  border: 1px solid #4D5B9E;
}

.yellow_blob {
  position: absolute;
  left: 66%;
  top: 0%;
}

.blue_blob {
  position: absolute;
  top: 68%;
  right: 75%;
}

p {
  color: #000000;
}